// Font Stacks
$font-url--google        : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--medium     : 400;
$font-weight--bold       : 700;

// Descriptive Base Colors
$background: linear-gradient(220.76deg, #FDE140 0%, #F9C01E 100%);
$white : #fff;
$black : #000;
$purple-majesty : #642FFF;

// Color Usage

$color-primary   : $black;
$color-secondary : $purple-majesty;

// Text

$base__font-size : 16px;
$base__line      : 36px;

$letter-space         : 0.9px;
$letter__space--h1    : 1px;
$letter__space--h2    : 0.93px;
$letter__space--date   : 0.93px;


// Border radius

$br--default     : 30px;  //buttons
$br--round       : 50%;

// Transitions

$trns-duration   : .3s;

//breakpoints sm, md, lg
$breakpoints:(
    'md': 768px,
);
