// ==========================================================================
// Extends
// ==========================================================================

// Buttons
%btn {
    padding: 8px 25px;
    border: 1px solid $purple-majesty;
    border-radius : $br--default;
    color: $purple-majesty;
    font-size : em(18px);
    @include mq('md'){
        font-size : em(22px);
        line-height: (40px/22px);
    }
    font-weight: $font-weight--bold;
    line-height: (36px/18px);
    transition: opacity $trns-duration;
    &:hover {
        background: $white;
    }
    &:active {
      opacity: initial;
    }
  }
  //cards
  %card {
      max-width: 760px;
      min-width: 302px;
      margin: auto;
      background: $white;
  }

// Headlines
%hdln-prim {
    color: $purple-majesty;
    font-weight: $font-weight--bold;
    margin-bottom: 0px;
    @include mq('md'){
        font-size: em(50px);
        margin-bottom: 21.44px;
    }
    font-size: em(32px);
    line-height: (70px/50px);
    margin-top: 0;
    letter-spacing: $letter__space--h1;
    text-align: center;
  }
  
%hdln-sec {
    color: $black;
    letter-spacing: 0.73px;
    font-size: em(22px);
    font-weight: $font-weight--bold;
    line-height: (40/22);
    @include mq('md'){
        font-size: em(28px);
        letter-spacing: $letter__space--h2;
        line-height: (46/28);
    }
}

%date {
    color: $black;
    font-size: em(16px);
    line-height: (32px/16px);
    @include mq('md'){
        font-size: em(22px);
        line-height: (38px/22px);
    }
    font-weight: $font-weight--bold;
    letter-spacing: $letter__space--date;
    
}
%date-box {
    height: 80px;
    width: 80px;
    border: 2px solid $black;
    padding: 6px;
    @include mq('md'){
        height: 114.81px;
        width: 115px;
        border: 4px solid $black;
        padding: 15px 10px;
    }
}
